$h1colors: #4C4A5A;
$btncolors: #44803F;

@mixin btns-styles($fcolor, $weight){
    height: 40px;
    width: 80px;
    font-size: 16px;
    font-family: sans-serif;
    border: none;
    color: $fcolor;
    font-weight: $weight;
}

@mixin box-style(){
    height: 500px;
    width: 80%;
    margin-left: 150px;
}

@mixin karobka-styles(){
    height: 450px;
    width: 330px;
    background-color: #F4F4F4;
}

@media(max-width: 500px){
    *{
    margin: 0;
    }
    .all{
        height: auto;
        width: 100%;
    }
    header{
        height: 100px;
        width: 100%;
        display: flex;
        border-bottom: 2px solid;
        justify-content: center;

        .dis{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        h1{
            font-size: 17px;
            font-family: sans-serif;
        }
        p{
            font-size: 13px;
            font-family: sans-serif;
            color: $h1colors;
        }
        img{
            height: 40px;
            width: 130px;
        }
        .btn{
            @include btns-styles($btncolors, 700);
            background-color: transparent;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            img{
                height: 30px;
                width: 30px;
            }
        }
        .btn1{
            display: none;
        }

        .content{
    height: 87vh;
    width: 100%;
    background-image: url(bg.image.png);
    background-position: 100% center;
    background-repeat: no-repeat;
    background-size: 100%;

    .abloshka{
        height: 100%;
        width: 100%;
        background-image: url(ablozhka.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% cover;

        h1{
            font-family: sans-serif;
            font-size: 50px;
            color: white;
            text-align: center;
            padding-top: 150px;
        }
        button{
            height: 60px;
            width: 235px;
            font-size: 18px;
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
            color: $btncolors;
            background-color: #FFDB06;
            border: none;
            margin-left: 575px;
            margin-top: 20px;
        }
        h2{
            font-size: 40px;
            font-family: sans-serif;
            color: #FFDB06;
            font-weight: 700;
        }
        p{
            color: white;
            font-family: sans-serif;
        }
        .contentbox{
            height: 50px;
            width: 250px;
            background-color: $btncolors;
            border-top-right-radius: 70px;
            
            p{
                font-size: 15px;
                padding-top: 6px;
                margin-left: 5px;
            }
        }
    }
}
}
}